# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# Owners will be requested for review when someone opens a PR.
* @SMoraisAnsys @maxcapodi78 @Samuelopez-ansys @gmalinve @Devin-Crawford @eblanco-ansys

# Owners for low frequency examples
/examples/low_frequency/ @jvela018 @nunesanderson @gmalinve

# Owners for EMIT examples
/examples/high_frequency/antenna/interferences/ @jsalant22 @myoung301 @mcoleman-ansys