version: 2
updates:
  - package-ecosystem: "pip" # See documentation for possible values
    directory: "/requirements" # Location of package manifests
    schedule:
      interval: "weekly"
    cooldown:
      default-days: 7
      include:
        - "*"  # Include all dependencies in cooldown
      exclude:
        - "ansys-sphinx-theme"
        - "ansys-tools-visualization-interface"
        - "ansys-pythonnet"
    labels:
      - "maintenance"
      - "dependencies"
    groups:
      # Actions related to this repo's CI/CD
      documentation:
        patterns:
          - "actions/*"
          - "ansys-sphinx-theme"
          - "ipython"
          - "jupyterlab"
          - "nbsphinx"
          - "numpydoc"
          - "pypandoc"
          - "recommonmark"
          - "Sphinx"
          - "sphinx*"
          - "jupytext"
          - "nbconvert"
      examples:
        patterns:
          - "imageio"
          - "matplotlib"
          - "numpy"
          - "openpyxl"
          - "osmnx"
          - "pandas"
          - "pyvista"
          - "fast-simplification"
          - "joblib"
          - "plotly"
          - "scikit-rf"

  - package-ecosystem: "github-actions" # zizmor: ignore[dependabot-cooldown] cooldown feature is not available for github actions yet.
    directory: "/"
    schedule:
      interval: "weekly"