# Documentation dependencies
ansys-sphinx-theme==0.13.1
imageio==2.31.5
imageio-ffmpeg==0.4.9
ipython==8.16.1
ipywidgets==8.1.1
joblib==1.3.2
jupyterlab==4.0.6
jupytext==1.16.0
matplotlib==3.8.0
nbsphinx==0.9.3
numpydoc==1.6.0
osmnx
pytest-sphinx==0.5.0
vtk==9.2.6
pyvista==0.42.2
recommonmark==0.7.1
scikit-learn==1.3.1
Sphinx==7.2.6
sphinx-autobuild==2021.3.14
sphinx-autodoc-typehints==1.24.0
sphinx-copybutton==0.5.2
sphinx-notfound-page==1.0.0
sphinxcontrib-websupport==1.2.4
SRTM.py
utm
scikit-rf==0.31.0
openpyxl==3.1.2
sphinx_design
sphinx_jinja