# PyAEDT with associated graphics and examples dependencies
pyaedt[graphics, examples] @ git+https://github.com/ansys/pyaedt@main

# Documentation dependencies
ansys-sphinx-theme==1.7.2
ipython==8.26.0; python_version == '3.10'
ipython==9.13.0; python_version >= '3.11'
jupyterlab==4.5.6
nbsphinx==0.9.8
numpydoc==1.10.0
pypandoc==1.17
recommonmark
Sphinx==9.1.0
sphinx-autobuild==2025.8.25
sphinx-autodoc-typehints==3.10.2
sphinx-copybutton==0.5.2
sphinx-gallery==0.20.0
sphinx-notfound-page==1.1.0
sphinx_design==0.7.0
sphinxcontrib-websupport==2.0.0
jupytext==1.19.1
nbconvert==7.17.1
ipywidgets==8.1.8
