# PyAEDT dependency
git+https://github.com/ansys/pyaedt@main

# Examples dependencies
imageio==2.37.0
matplotlib==3.10.1
numpy==2.2.3
openpyxl==3.1.5
osmnx==2.0.2
pandas==2.2.3
pyvista==0.45.0
fast-simplification==0.1.9
joblib==1.4.2
plotly==6.0.1
scikit-rf==1.6.2

# Documentation dependencies
ansys-sphinx-theme==1.0.11
ipython==8.26.0
jupyterlab==4.3.6
nbsphinx==0.9.7
numpydoc==1.7.0
pypandoc==1.13.0
recommonmark
Sphinx==8.0.2
sphinx-autobuild==2024.10.3
sphinx-autodoc-typehints==2.0.0
sphinx-copybutton==0.5.2
sphinx-gallery==0.19.0
sphinx-notfound-page==1.0.0
sphinx_design==0.6.1
sphinxcontrib-websupport==2.0.0
jupytext==1.16.7
nbconvert==7.16.6

